body {
	margin: 0px;
}

.wrapper {
	width: 100%;
	clear: both;
}

.content {
	margin: auto;
	width: 97%;
	background-color: white;
	min-height: 500px;
	height: auto;
	padding-left: 20px;
}

/*
label {
	color: #968f8f;
	font-weight: bold;
	font-size: 20px;
	text-align: right;
	display: inline-block;
	width: 100px;
	padding-top: 15px;
}
*/

h1 {
	color: #968f8f;
	font-size: 46px;
	font-weight: normal;	
}

.sectionHeading {
	float:right;
	font-size:32px;
	padding:60px 60px 0px 0px
}

.adminHeading {
	color: #629761;
	font-size: 22px;
	font-weight: bold;
	padding-top: 25px;
	float: left;
}

.title1 {
	color: black;
	font-size: 28px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	border-bottom: thin solid #8c90c2;
	width: 100%;
}

.adminButtons {
	float: right;
	margin-top: 25px;
}

.darkGreenBox {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #049463;
	color: white;
	font-size: 22px;
	margin-top: 30px;
	float: right;
	padding: 15px;
	height: 400px;
	width: 100%;
}

.darkGreenBox a:link, a:visited {
	color: #e0e0e0;
}

.innerBox {
	overflow: auto;
	height: 260px;
	border-top: 1px solid #939191;
	border-bottom: 1px solid #939191;
}

.lightGreenBox {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #9fedd2;
	color: #363636;
	font-size: 22px;
	margin-top: 30px;
	margin-right: 30px;
	float: left;
	padding: 15px;
	height: 250px;
	width: 100%;
}

.ltGrBoxHeading {
	font-size: 26px;
	color: #049463;
}

.bottomBox {
	background-color: white;
	color: #515151;
	font-size: 24px;
	margin: 30px 0px;
	float: left;
	padding: 15px;
	height: auto;
	width: 100%;
}

/* Forms */

.formPrompt {
	text-align: right;
	color: #968f8f;
	font-weight: bold;
	font-size: 20px;
	text-align: right;
	width: 200px;
	height: 35px;
	float: left;
	white-space: nowrap;
	padding-top: 4px;
	clear: left;
}

.formInstruction {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color: #968f8f;
}

.formField {
	text-align: left;
	float: left;
	height: auto;
	clear: right;
	padding-bottom: 10px;
	padding-left: 10px;
}

/*
select {
	font-size: 18px;
	color: #968f8f;
	background-color: transparent;
	margin-top: 5px;
}
*/

.customSelect {
	font-size: 18px;
	color: #968f8f;
	background-color: transparent;
}

input[type=text], input[type=password], textarea {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 18px;
	color: #999999;
	border: 2px solid #cccccc;
}

textarea {
	margin-top: 10px;
	width: 350px;
	height: 120px;
	padding: 5px;
}

/* Buttons */

.button {
/* 	width:150px;  */
	width: auto;
	height:26px; 
	color:#fff; 
	background:url('../images/buttonBg.png') repeat-x 0 0; 
	background-repeat: repeat-x;
	cursor:pointer; 
	border: 1px solid #739673; 
	font:12px Tahoma, Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	text-transform:uppercase; 
	letter-spacing:1px; 
	vertical-align:middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

.buttonLeft, .buttonRight {
	width:6px; 
	height:26px; 
	vertical-align:middle;
	display: inline-block;
}

.buttonLeft {
	background:url('/brokers/images/button-left.png') no-repeat 0 0;
}

.buttonRight {
	background:url('/brokers/images/button-right.png') no-repeat 0 0;
}

.buttonRow {
	clear: both;
	width: 100%;
	padding-top: 15px;
}

#reportForm .buttonRow {
	text-align: right;
}

/* Messages */

#errorContainer, #validateMessage, #nameExists {
	border: 2px solid #fa9b9b;
	background-color: #ffd3d3;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 30px;
	margin-bottom: 20px;
	color: red;
	font-size: 16px;
	padding: 10px 10px 10px 50px;
}

.errorMsg {
	color: red;
	font-size: 16px;
	padding-bottom: 20px;
	padding-top: 150px;
}

/* twitter bootstrap customization */

.row {
	width: 100%;
}

/* jQuery form validation customization */

label.error {
	color: red;
	font-style: italic;
	font-size: 16px;
	font-weight: normal;
}

/* -----  test  ------- */

/*
.col-md-8, .formField {
	border: 2px solid red;
}

.row {
	border: 2px solid orange;
}
*/

